<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div class="" *ngIf="cartItems.length > 0">
              
                <table class="table table-bordered">
                    <caption>Cart Details</caption>
                    <tr>
                        <th >Product Image</th>
                        <th >Product Detail</th>
                        <th ></th>
                        <th> Action</th>
                    </tr>
                    <tr *ngFor="let items of cartItems">
                        <td>
                            <img src="{{ items.imageUrl }}" class="img-responsive" width="150px" />
                        </td>
                        <td>
                            <p>{{ items.name }}</p>

                            <p>{{ items.unitPrice }}</p>
                        </td>
                        <td>
                            <div class="items">
                                <label>Quantity:</label>

                                <div class="row no-gutters">
                                    <div class="col">
                                        <button (click)="incrementQuantity(items)" class="btn btn-primary btn-sm">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>

                                    <div class="col ml-4 mr-2">
                                        {{ items.quantity }}
                                    </div>

                                    <div class="col">
                                        <button (click)="decrementQuantity(items)" class="btn btn-primary btn-sm">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>

                                    <div class="col-8"></div>
                                </div>

                            </div>
                            <p>Thành tiền: {{ items.quantity * items.unitPrice }}</p>
                           
                        </td>
                        <td>
               <button type="button" class="btn btn-sm btn-danger btn-delete-user" (click)="remove(items)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>
                            <b>Tổng số lượng:{{totalQuantity}}</b>
                            <p>Shipping FREE</p>
                            <b>Tổng tiền: {{totalPrice}}</b><br />
                            <a href="checkout-page.html" class="primary-btn">Checkout</a>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Neu gio hang trong hien thi thong bao -->
            <div class="" *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
                Giỏ hàng trống
            </div>
        </div>
    </div>
</div>