<div class="main-content `">
    <div class="section-content section-content-p30 e-spc">
        <div class="container-fluid">
            <form autocomplete="off" [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- thông tin khách hàng -->
                <div class="form-area" formGroupName="customer">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-space  ">
                                <input type="text" formControlName="firstName" id="firstName" placeholder="First Name">

                            </div>
                            <div class="form-control-feedback"
                                *ngIf="
                                checkoutFormGroup.get('customer.firstName')?.errors &&
                                (checkoutFormGroup.get('customer.firstName')?.dirty || checkoutFormGroup.get('customer.firstName')?.touched)">
                                <p class="alert alert-danger"
                                    *ngIf="checkoutFormGroup.get('customer.firstName')?.errors?.['required'] 
                                || checkoutFormGroup.get('customer.firstName')?.errors?.['notOnlyWhitespace']">
                                    FirstName required
                                </p>
                                <p class="alert alert-danger"
                                    *ngIf="checkoutFormGroup.get('customer.firstName')?.errors?.['minlength']">
                                    FirstName must be at least 2 characters long
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-space">
                                <input type="text" formControlName="lastName" placeholder="Last Name">
                            </div>
                            <div class="form-control-feedback"
                                *ngIf="
                            checkoutFormGroup.get('customer.lastName')?.errors &&
                            (checkoutFormGroup.get('customer.lastName')?.dirty || checkoutFormGroup.get('customer.lastName')?.touched)">
                                <p class="alert alert-danger"
                                    *ngIf="checkoutFormGroup.get('customer.lastName')?.errors?.['required'] || checkoutFormGroup.get('customer.firstName')?.errors?.['notOnlyWhitespace']">
                                    LastName required
                                </p>
                                <p class="alert alert-danger"
                                    *ngIf="checkoutFormGroup.get('customer.lastName')?.errors?.['minlength']">
                                    LastName must be at least 2 characters long
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input type="text" formControlName="email" placeholder="Email Address">
                            </div>
                            <div class="form-control-feedback"
                            *ngIf="
                        checkoutFormGroup.get('customer.email')?.errors &&
                        (checkoutFormGroup.get('customer.email')?.dirty || checkoutFormGroup.get('customer.email')?.touched)">
                            <p class="alert alert-danger"
                                *ngIf="checkoutFormGroup.get('customer.email')?.errors?.['required'] || checkoutFormGroup.get('customer.firstName')?.errors?.['notOnlyWhitespace']">
                                Email required
                            </p>
                            <p class="alert alert-danger"
                                *ngIf="checkoutFormGroup.get('customer.email')?.errors?.['pattern']">
                                Email invalidate
                            </p>
                        </div>
                        </div>
                    </div>
                </div>

                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let item of countries" [ngValue]="item">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" name="street" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" name="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" name="zipCode" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>


                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option *ngFor="let item of countries" [ngValue]="item">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let item of creditCardMonths">{{item}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthAndYear()">
                                    <option *ngFor="let item of credittCardYear">{{item}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info">Đặt hàng</button>
                </div>
            </form>




        </div>
    </div>
</div>